@model IList<PhantomGroceries.Domain.Models.GroceryItem>
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" } )
<h2>Index</h2>

@foreach(var groceryItem in Model)
{
    <p>@groceryItem.Name</p>
}