@model GroceryMinder.Web.Models.GroceryCategory.IFormViewModel

@{
    ViewBag.Title = "Create a Category";
}

<div class="page-header-container">
    <h2>Create a Category</h2>
</div>

@Html.Partial("_Form", Model)