@model GroceryMinder.Web.Models.GroceryCategory.IFormViewModel
@{
    ViewBag.Title = "Update";
}

<div class="page-header-container">
    <h2>Update a Category</h2>
</div>

@Html.Partial("_Form", Model)
