@model GroceryMinder.Web.Models.GroceryList.Index

@{
    ViewBag.Title = "Grocery List";
}

<div class="row">
    <div class="col-sm-3 page-header-container">
        <h2>Grocery List</h2>
    </div>
    <div class="col-sm-9" style="text-align:right;">
        @using (Html.BeginForm("UpdateLastWentShoppingAt", "ApplicationUser", FormMethod.Post))
        {
            <p>You last went shopping on @Html.TextBoxFor(model => model.LastWentShoppingAt, "{0:yyyy-MM-dd}", new { @class = "", type = "date" }) <input type="submit" value="Update" class="btn btn-primary" /></p>
        }
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grocery in Model.GroceryList.Groceries)
        {
            <tr>
                <td>@grocery.GroceryCategory.Name</td>
                <td>@grocery.Name</td>
                <td>$@string.Format("{0:0.00}", grocery.AverageCost)</td>
            </tr>
        }
        <tr>
            <td colspan="2" style="text-align:right;">
                Your next trip is on @Model.GroceryList.Date.ToShortDateString() and has an <strong>expected total cost</strong> of
            </td>
            <td>
                $@string.Format("{0:0.00}", Model.GroceryList.TotalCost)
            </td>
        </tr>
    </tbody>
</table>

@if (Model.GroceryList.Groceries.Count == 0)
{
    <div class="alert alert-info">
        <p>You have no groceries to buy!  Looks like you're free and clear at the moment!</p>
    </div>
}